*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.img{
    background-color: brown;
    width: 50%;
    min-height: 100%;
}
.text{
    background-color: rgb(55, 0, 255);
    width: 50%;
    min-height: 100%;
}